body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Darker Grotesque', sans-serif;
	font-size: 20px;
}

header {
	background-color: #ffffff;
	padding-right: 25px;
}

main {
	padding: 0;
	margin: 0px 15px;
}

.header-box {
	display: flex;
	justify-content: space-between;
}

.menu {
	display: flex;
}

.menu-items {
	padding: 30px 10px 0;
}

.logo {
	font-size: 30px;
	padding-left: 10px;
}

.row {
	display: flex;
	text-align: center;
	margin: auto;
}

.row > div {
	font-size: 30px;
	background-color: #aca38c;
	margin: 0 15px 30px;
	width: 50%;
	height: 400px;
	padding: 30px;
	text-align: left;
	border-radius: 10px;
	border: 0;
	position: relative;
}

.row > div > h1 {
	padding-top: 15%;
}

#head-row {
	background-color: #ffffff;
}


button {
	border-radius: 4px;
	border: 0;
	font-size: 15px;
	font-weight: 900;
	width: 150px;
	background-color: #e3e9e8;
}
.button {
	display: flex;
	align-items: center;
	
	
	
}

.picture-content{
	margin-top: auto;
	position: absolute;
	top: 60%;
	padding: 0px 70px 0 0;

}